<div class='container-fluid padding-top'>
  <!-- container 1  -->
  <div class='container-fluid containBgWithContent'>
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <div class='row'>
          <div class='col-md-2 col-xs-0'>
          </div>
          <div class='col-md-8 col-xs-12'>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <h1>
                  Work at Liv.ai
                </h1>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <p class='sub-heading'>
                  We are a fast growing start-up in the field of Speech Recognition and AI. Our mission is to give voice to a billion people.
                </p>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <div class='col-md-2 col-xs-0'>
                </div>
                <div class='col-md-8 col-xs-12 text-center'>
                  <div class='row'>
                    <div class='col-md-12 col-xs-12'>
                      <button class='button'>
                        VIEW OPEN POSITIONS
                      </button>
                    </div>
                  </div>
                </div>
                <div class='col-md-2 col-xs-0'>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-2 col-xs-0'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
  <!-- container 2  -->
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <div class='row'>
          <div class='col-md-2 col-xs-2'>
          </div>
          <div class='col-md-8 col-xs-12'>
            <p class='text-left about-container black'>
              We want every Indian kid, adult or elderly to be able to talk to their devices, businesses and government in their own language. To achieve this mission, we are looking for extra-ordinary engineers and researchers to ...
            </p>
            <p onclick="">
              More
            </p>
            <p onclick="">
              Less
            </p>
          </div>
          <div class='col-md-2 col-xs-2'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
  <!-- container 3  -->
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-xs-12 col-md-offset-2'>
        <div class='row'>
          <div class='col-md-2 col-xs-12'>
          </div>
          <div class='col-md-8 col-xs-12'>
            <div class='row container_apis_middle containBgWithContent'>
              <div class='col-md-12 container_apis_middle col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <p>
                      <small>A few benefits of working here ...</small>
                    </p>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <p class='about-container white'>
                      We provide top-of-the-line compensation, including cash and equity, an intellectually vibrant work atmosphere, and a steep learning curve in AI, distributed computing and software scaling.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-2 col-xs-12'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
  <!-- Open Positions Container -->
  <div class='container text-center'>
    <div class='row'>
      <div class='col-md-12 col-xs-10'>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <h3>
                  <strong>Open Positions</strong>
                </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12 container-open-position '>
            <p class='pull-left'>
              <span>Deep Learning/ Machine Learning Engineer&nbsp;&nbsp;</span>
            </p>
            <p class='pull-right'>
              <a href="https://www.linkedin.com/jobs/cap/view/406145903">
                    <span>
                      View Openings
                    </span>
                  </a>
            </p>
          </div>
        </div>
        <br>
        <br>
        <div class='row'>
          <div class='col-md-12 col-xs-12 container-open-position '>
            <p class='pull-left'>
              <span>
                    Full Stack Software Developer&nbsp;&nbsp;
                  </span>
            </p>
            <p class='pull-right'>
              <a href="https://www.linkedin.com/jobs/cap/view/406169138">
                    <span>
                      View Openings
                    </span>
                  </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
  <div class='row text-center'>
    <div class='col-md-12 col-xs-12'>
      <h3>
            jointheteam@liv.ai
          </h3>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
</div>
