<div class='container-fluid compant-container'>
  <div class='container-fluid containBgWithContent'>
    <div class='row'>
      <div class="col-md-12 col-xs-12">
        <div class='row middle'>
          <div class="col-md-2 col-xs-0">
          </div>
          <div class="col-md-8 col-xs-12">
            <div class='row'>
              <div class="col-md-12 col-xs-12">
                <h1 class='text-left'>
                  Inspired by human empathy. Powered by artificial intelligence.
                </h1>
              </div>
              <div class="col-md-12 col-xs-12">
                <p class='text-left'>
                  Liv.ai is a lively and imaginative team of highly skilled professionals committed to using Deep Learning to develop products that will, easily and efficiently, take over tasks that are routine, repetitive, mundane and time-consuming. Our futuristic products aim to ease the tedium of daily life and create a world where people are free to devote their energy to things that matter, where their minds are free to innovate and make a real difference.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-0">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class='container'>
    <div class='row'>
      <div class="col-md-12 col-xs-12">
        <div class='row'>
          <div class="col-md-12 col-xs-12 text-center">
            <h2>
                  Founding Team
                </h2>
          </div>
        </div>
        <div class="row card-deck">
          <!-- Profile subodh -->
          <div class="card col-md-4 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-xs-10">
                <img class="img-circle img img-responsive card-img-top " src="../assets/images/liv-profile-subodh.png" alt="Card image cap">
              </div>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title text-left">
                Subodh Kumar
              </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <p class="card-text text-left">
                    Subodh has donned multiple hats, from an engineer with Microsoft to being a quant trader, and an investment banker at Citigroup, blazing a trail across New York, Hong Kong and Singapore. He has a B.Tech (CSE) from IIT KGP and an MBA from IIM Bangalore.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Profile sanjeev -->
          <div class="card col-md-4 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-xs-10">
                <img class="img-circle img img-responsive card-img-top" src="../assets/images/liv-profile-sanjeev.png" alt="Card image cap">
              </div>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title text-left">
                Sanjeev Kumar PhD
              </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <p class="card-text text-left">
                    Sanjeev has published more than 10 peer-reviewed papers in the field of Signal Processing and Machine Learning and has 7 granted/pending US patents. Before Liv, he was with startups Avaak Inc and Qualcomm Inc in San Diego, CA. He holds a MS and a PhD in electrical engineering from University of California, San Diego and a B.Tech from IIT KGP.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Profile kishore -->
          <div class="card col-md-4 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-xs-10">
                <img class="img-circle img img-responsive card-img-top" src="../assets/images/liv-profile-kishore.png" alt="Card image cap">
              </div>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <h4 class="card-title text-left">
                Kishore Mundra
              </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <p class="card-text text-left">
                    With more than 10 years of experience in software product development, Kishore holds multiple patents as a researcher with Samsung, India, and has helped Beceem Comm develop 4G solutions (acquired by Broadcom in 2011). A seasoned leader and manager, Kishore has a B.Tech & M.Tech in Computer Science from IIT KGP.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>
</div>
