<!-- for fixing the navbar at top -->
<div class='container-fluid api-component padding-top'>
  <!-- container 1 -->
  <div class='row'>
    <div class="col-md-12 col-xs-12">
      <div class='container'>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <h1>
                  <strong>
                    Start a conversation with your machine
                  </strong>
                </h1>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-2 col-xs-0'>
              </div>
              <div class='col-md-8 col-xs-12'>
                <p>                  Seamlessly integrate text and speech with our precise transcription, audio search and categorisation tools

                </p>
              </div>
              <div class='col-md-2 col-xs-0'>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container 2 -->
      <div class='container'>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <!-- Voice Input -->
            <div class='row'>
              <div class="col-md-4 col-xs-12">
                <div class="row">
                  <div class="col-md-12 col-xs-12  shadow">
                    <div class="row">
                      <div class="col-md-12 col-xs-12 col-xs-offset-4">
                        <img class="img img-responsive  no_border" src="../../assets/images/voice-input.svg" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <h5>Voice Input</h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <p>
                              <strong>Enable your consumers to talk to you than typing uncomfortably. Consumers can now search for your products & services with their voice. Supports 8 Indian Languages in multiple audio formats.
                            </strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-12 col-xs-12">
                        <small class="text-muted">
                        <a class='link' href="speech/">
                            View Documentation
                        </a>
                      </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Keyword Spotting card -->
              <div class="col-md-4 col-xs-12 ">
                <div class="row">
                  <div class="col-md-12 col-xs-12 shadow">
                    <div class="row">
                      <div class="col-md-12 col-xs-12 col-xs-offset-4">
                        <img class="img img-responsive no_border" src="../../assets/images/audio-search.svg" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <h5>
                      Keyword Spotting
                    </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <p>
                              <strong>Gain a new perspective into your data by quickly finding words and phrases in audio. List upto 100 words to tag your audio files and search the right file with appropriate tags later.
                              </strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-12 col-xs-12">
                        <small class="text-muted">
                        <a class='link' href="speech/">
                        View Documentation
                        </a>
                    </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Conversational Speech to Text -->
              <div class="col-md-4 col-xs-12 ">
                <div class="row">
                  <div class="col-md-12 col-xs-12 shadow">
                    <div class="row">
                      <div class="col-md-12 col-xs-12 col-xs-offset-4">
                        <img class="img img-responsive  no_border" src="../../assets/images/speech-to-text.svg" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <h5>
                Conversational Speech to Text
              </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <p>
                              <strong>
                              Upload any audio file including telephonic conversation and transcribe it with precision.
                              </strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <br>
                    </div>
                    <div class='row'>
                      <div class="col-md-12 col-xs-12">
                        <small class="text-muted">
                        <a class='link' href="long_audio/">
                        View Documentation
                        </a>
                    </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
