<div class='container-fluid home-container'>
  <!-- First block with two seperation  -->
  <div class='container '>
    <div class='row'>
      <!-- col - 1 -->
      <div class='col-md-12 col-xs-12'>
        <div class='row'>
          <div class='col-md-6  col-xs-12'>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <h1>
                  <strong>Giving voice to a billion people</strong>
                </h1>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12 col-xs-12 text-left'>
                <p>
                  Speech recognition in Hindi, English and all major Indian languages. APIs and SDKs available for integration.
                </p>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <p>DEMO NOW<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="../../assets/images/arrow.svg"></p>
              </div>
              <div class='col-md-12 col-xs-12'>
                <p>DEMO NOW<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="../../assets/images/arrow.svg"></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class='row'>
              <div class='col-md-12 col-xs-12'>
                <img class="img img-responsive" src="../assets/images/speech-to-text.png" alt="livai speech to text image" title="Speech to Text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of First block  -->
  <!--  -->
  <div class="container text-center">
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <h1><strong>Speech Recognition</strong></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 text-left">
            <p>
              Liv.ai speech API enables developers to convert speech-to-text by using Powerful Neural Network Models with exceptional accuracy and minimal latency. The API recognizes 9 major Indian Languages - English, Hindi, Bengali, Punjabi, Marathi, Gujarati, Kannada, Tamil and Telugu. Our system works with most accents and performs remarkably well in noisy environments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Convert your Speech to Text Now Container -->
  <div class='container'>
    <div class='row'>
      <div class="col-md-12 col-xs-12">
        <div class='row'>
          <div class="col-md-12 col-xs-12">
            <h1 class='no-line-height'><strong>Convert your Speech to Text Now!</strong></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-md-offset-4  col-xs-offset-2">
            <p>Press the mic button below to start recording your speech</p>
          </div>
        </div>
        <div class='row '>
          <div class='col-md-2'></div>
          <div class='col-md-8 col-xs-12 yourspeech card'>
            <div class='row justify-content-center'>
              <div class='col-md-8 col-xs-12'>
                <div class="row">
                  <div class="col-md-4 col-xs-12">
                  <h4><strong>
                    Speakin
                    </strong>
                  </h4>
                  </div>
                  <div class="col-md-8 col-xs-12">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-lg-round dropdown-button" id="dropdownBasic1" ngbDropdownToggle><strong>{{selectedLanguage}}</strong></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="onSelectChange($event)" class="dropdown-item" *ngFor="let language of languages">{{language}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-md-12 col-xs-12'>
                <input type="image" class='img img-responsive' src="../../assets/images/mic.svg" name="saveForm" value="Start" class="submit start" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <p>Your speech will appear here</p>
              </div>
            </div>
          </div>
          <div class='col-md-2'></div>
        </div>
        <div class="row">
        <div class='col-md-2'></div>
          <div class="col-md-8 col-xs-12">
            <p class='no-line-height'>
              <small>
              *Demo may not work on some browsers/browser versions and may not work accurately on some devices. For a seamless and accurate experience please download <a href="https://play.google.com/store/apps/details?id=ai.liv.speech2text" class="blue" style="text-decoration: underline;"> LivSpeech android application from Play Store</a>
            </small>
            </p>
          </div>
          <div class='col-md-2'></div>
        </div>
      </div>
    </div>
  </div>
  <!--Other Technologies container -->
  <div class='container'>
    <div class="row">
      <div class="col-md-12 col-xs-12  text-center">
        <div class="row">
          <div class="col-md-12 col-xs-12  text-center">
            <h1><strong>Our other technologies</strong></h1>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-12 col-xs-12">
            <div class='row'>
              <div class='col-md-6 col-xs-12'>
                <div class='row'>
                  <div class='col-md-2 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12'>
                        <img src="../assets/images/text-to-speech.svg" class="img img-responsive" alt="Text to Speech Image" title="Text to Speech" />
                      </div>
                    </div>
                  </div>
                  <div class='col-md-10 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12 para'>
                        <div class='row'>
                          <div class='col-md-12 col-xs-12'>
                            <p><strong>Speech Synthesis</strong></p>
                          </div>
                        </div>
                        <div class='row'>
                          <div class='col-md-12 col-xs-12 para'>
                            <p>
                              Convert text to speech in real time to get human like output using advanced deep learning technology. Build speech enabled-applications that talk. Simply send the text to convert to speech and get the output immediately.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-md-6 col-xs-12'>
                <div class='row'>
                  <div class='col-md-2 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12'>
                        <img src="../assets/images/language-understanding.svg" class='img img-responsive' alt="Language Understanding Image" title="Language Understanding" />
                      </div>
                    </div>
                  </div>
                  <div class='col-md-10 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12 para'>
                        <div class='row'>
                          <div class='col-md-12 col-xs-12'>
                            <p><strong>Language Understanding</strong></p>
                          </div>
                        </div>
                        <div class='row'>
                          <div class='col-md-12 col-xs-12 para'>
                            <p class=''>
                              Make devices & applications voice interactive with our NLU capability. Search for services/products, control your devices, build super responsive customer care and do more with your voice.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Some of the ways our tech has been used so far Container  -->
  <div class='container text-left'>
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <div class='row'>
          <div class='col-md-12 col-xs-12 text-center'>
            <h1><strong>Some of the ways our tech has been used so far</strong></h1>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6 col-xs-12'>
            <div class='row'>
              <div class='col-md-2 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12 col-xs-offset-2'>
                    <img src="../assets/images/voice-keyboard.svg" alt="Voice Keyboard Image" title=" Voice Keyboard" />
                  </div>
                </div>
              </div>
              <div class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                   <h5><strong>Voice keyboard</strong></h5>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <p>Turn speech in Indian Languages to text with advanced precision. No more typing! </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-6 col-xs-12'>
            <div class='row'>
              <div class='col-md-2 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12 col-xs-offset-2'>
                    <img src="../assets/images/voice-assistant.svg" alt="Voice Assistant Image" title="Voice Assistant" />
                  </div>
                </div>
              </div>
              <div class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <h5><strong>Assistant</strong></h5>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12 col-xs-12 text-left'>
                    <p>
                      Set reminders, get relevant answers, search audio and do more in the language you are comfortable with.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6 col-xs-12'>
            <div class='row'>
              <div class='col-md-2 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12  col-xs-offset-2'>
                    <img src="../assets/images/customer-care-automation.svg" alt="Customer Care Automation Image" title="Customer Care Automation">
                  </div>
                </div>
              </div>
              <div class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <h5><strong>Customer care automation</strong></h5>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12 col-xs-12 text-left'>
                    <p>Increase speed and improve the quality of service by automating a range of tasks and enhancing customer experience.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-6 col-xs-12'>
            <div class='row'>
              <div class='col-md-2 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12 col-xs-offset-2'>
                    <img src="../assets/images/speech-analytics.svg" alt="Speech Analytics Image" title="Speech Analytics">
                  </div>
                </div>
              </div>
              <div class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class='col-md-12 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12'>
                        <h5><strong>Speech analytics</strong></h5>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-12 col-xs-12 text-left'>
                        <p>
                          Analyse unstructured data from customer interactions to gain rare insights and take appropriate action.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- We are in press container  -->
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-xs-12 press-container'>
        <div class='row'>
          <div class='col-md-12 col-xs-12 text-center'>
            <h1><strong>We’re in the press</strong></h1>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <div class='row'>
              <div class='col-md-4 col-xs-12'>
                <a href="http://techcircle.vccircle.com/2017/03/07/liv-ai-wants-to-make-voice-recognition-in-local-languages-easier">
                    <img class='img img-responsive ' src="../../assets/images/press-release-news-corp.png" alt=" News Corp VCCircle Press Release" title="News Corp VCCircle Press Release" style="width:100%;"/>
                  </a>
              </div>
              <div class='col-md-4 col-xs-12'>
                <a href="http://economictimes.indiatimes.com/small-biz/startups/startups-to-help-you-complete-online-transactions-in-your-language/articleshow/57319956.cms">
                  <img class='img img-responsive' src="../../assets/images/press-release-economic-times.png" alt=" Economics Times Press Release" title=" Economics Times Press Release" style="width:100%;"/>
                </a>
              </div>
              <div class='col-md-4 col-xs-12'>
                <a href="http://www.newindianexpress.com/cities/bengaluru/2017/jul/18/tech-converts-your-speech-in-8-regional-languages-to-text-1630386.html">
                  <img class='img img-responsive' src="../../assets/images/newindianexpress.png"  alt=" The New Indian Express Release" title=" The New Indian Express Release" style="width:100%;"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <div class='row'>
              <div class='col-md-4 col-xs-12'>
                <a href="http://www.gadgetsnow.com/tech-news/why-type-when-you-can-speak/articleshow/60205284.cms">
                    <img class='img img-responsive' src="../../assets/images/press-release-gadgets-now.jpg" alt=" Gadgets Now Press Release" title=" Gadgets Now">
                  </a>
              </div>
              <div class='col-md-4 col-xs-12'>
                <a href="http://www.business-standard.com/article/companies/liv-ai-giving-voice-to-a-billion-people-117082000813_1.html">
                    <img class='img img-responsive' src="../../assets/images/press-release-business-standard.jpg" alt=" Business Standard Press Release" title="Business Standard Press Release"></a>
              </div>
              <div class='col-md-4 col-xs-12'>
                <a href="http://timesofindia.indiatimes.com/trend-tracking/these-startups-take-on-language-barriers/articleshow/57330174.cms">
                    <img class='img img-responsive' src="../../assets/images/press-release-toi.jpg" alt=" The Times Of India Release" title=" The Times Of India Release"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
