<div class='container-fluid footer-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-xs-10'>
        <div class='row'>
          <div class='col-md-12 col-xs-12  text-center'>
            <h2>
            Contact us
          </h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <p class='text-center'>
              hello@liv.ai
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-xs-10'>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <p class='text-center'>
              ©2017 Liv.ai
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12'>
            <p class='text-center'>
              <a href="../privacy.html">
                Privacy Policy
            </a> |
              <a href="../tnc.html">
                Terms Of Service
            </a>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 col-xs-12  text-center'>
            <a href="https://liv.ai/rss.xml">
          <img src="https://www.w3schools.com/xml/pic_rss.gif">
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
